body {
  margin: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.hero-section {
  text-align: end;
  background-image: url("../../public/Projector.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heading {
  margin: 0;
  position: absolute;
  top: 16%;
  left: 50%;
  text-transform: uppercase;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: rotate(-12.5deg);
}

.heading p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 0, 0);
  font-size: 4.5rem;
  font-weight: 800;
}

.text-xs {
  font-size: 0.65rem;
}

.text-sm {
  font-size: 0.85rem;
}

img {
  aspect-ratio: 7/10;
}